# 환경 변수 파일
.env

# 생성된 CSV 파일들
*.csv
*.xlsx

# Python 관련 파일
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
*.ipynb

# 가상환경
venv/
ENV/
env/

# IDE 관련 파일
.idea/
.vscode/
*.swp
*.swo